#divContent {
	width: 220px;
}

#div_Menu_window_level1 .divMenu_Box1 {
	width:70px;
	height:60px;
	margin-left:12%;
	}
#div_Menu_window_level2 .divMenu_Box2 {
	width:70px;
	height:60px;
	margin-left:12%;
	}